

executor.$local.cpus = 32
executor.$local.memory = '120 GB'

includeConfig 'conf/hg38.config'


params {
  // reference genomes
  genomes {
    'hg38'  {
       bwa =  '/athena/elementolab/scratch/asd2007/reference/hg38/BWAIndex/'
       fasta = '/athena/elementolab/scratch/asd2007/reference/hg38/BWAIndex/genome.fa'
       annotation_config = "conf/hg38.config"
       black = "/athena/elementolab/scratch/asd2007/reference/hg38/hg38.blacklist.bed.gz"
       picardconf = "/athena/elementolab/scratch/asd2007/reference/hg38/picardmetrics.conf"
       prom = "/athena/elementolab/scratch/asd2007/reference/hg38/ataqc/reg2map_honeybadger2_dnase_prom_p2.hg19_to_hg38.bed.gz"
       enh = "/athena/elementolab/scratch/asd2007/reference/hg38/ataqc/reg2map_honeybadger2_dnase_enh_p2.hg19_to_hg38.bed.gz"
       reg2map = "/athena/elementolab/scratch/asd2007/reference/hg38/ataqc/hg38_dnase_avg_fseq_signal_formatted.txt.gz"
       reg2map_bed = "/athena/elementolab/scratch/asd2007/reference/hg38/ataqc/hg38_celltype_compare_subsample.bed.gz"
       roadmap_meta = "/athena/elementolab/scratch/asd2007/reference/hg38/ataqc/hg38_dnase_avg_fseq_signal_metadata.txt"
       species_browser = "hg38"
    }

    'mm10'  {
      bwa = '/athena/elementolab/scratch/asd2007/reference/mm10/bwa_index/mm10_no_alt_analysis_set_ENCODE.fasta'
      RG = 'mm10'
      SPEC = 'mm'
      REFGen = '/athena/elementolab/scratch/asd2007/bin/bcbio/genomes/Mmusculus/mm10/seq/'
      picardconf = '/home/asd2007/Scripts/picardmetrics.Mouse.conf'
      chrsz = '/athena/elementolab/scratch/asd2007/reference/mm10/mm10.chrom.sizes'
      seq = '/athena/elementolab/scratch/asd2007/reference/mm10/seq'
      gensz = 'mm'
      bwt2_idx = "/athena/elementolab/scratch/asd2007/reference/mm10/bowtie2_index/mm10_no_alt_analysis_set_ENCODE.fasta"
      fasta = '/athena/elementolab/scratch/asd2007/reference/mm10/bwa_index/mm10_no_alt_analysis_set_ENCODE.fasta'
      ref_fa = '/athena/elementolab/scratch/asd2007/reference/mm10/mm10_no_alt_analysis_set_ENCODE.fasta'
      BLACK = '/athena/elementolab/scratch/asd2007/reference/mm10/mm10.blacklist.bed.gz'
      species_browser = 'mm10'
# d  ata for ATAQC
      TSS_ENRICH = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_gencode_tss_unique.bed.gz'
      DNASE = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_univ_dhs_ucsc.bed.gz'
      PROM = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/tss_mm10_master.bed.gz'
      ENH = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_enh_dhs_ucsc.bed.gz'
      REG2MAP = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_dnase_avg_fseq_signal_formatted.txt.gz'
      REG2MAP_BED = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_celltype_compare_subsample.bed.gz'
      ROADMAP_META = '/athena/elementolab/scratch/asd2007/reference/mm10/ataqc/mm10_dnase_avg_fseq_signal_metadata.txt'
    }
  }
}



