

env {
    GENOME = "hg19"
    DNASE_BED = "/athena/elementolab/scratch/asd2007/reference/hg19/dnase_avgs_reg2map_p10_merged_named.pvals.gz"
    BLACK = "/athena/elementolab/scratch/asd2007/reference/hg19/Anshul_Hg19UltraHighSignalArtifactRegions.bed"
    PICARDCONF = "/athena/elementolab/scratch/asd2007/reference/hg19/picardmetrics.conf"
    REF = "/athena/elementolab/scratch/asd2007/reference/hg19/BWAIndex/genome.fa"
    REFbt2 = "/athena/elementolab/scratch/asd2007/reference/hg19/bowtie2_index/male.hg19.fa"
    bwt2_idx = "/athena/elementolab/scratch/asd2007/reference/hg19/bowtie2_index/male.hg19.fa"
    RG = "hg19"
    SPEC = "hs"
    REFGen = "/athena/elementolab/scratch/asd2007/reference/hg19/male.hg19.fa"
    seq = "/athena/elementolab/scratch/asd2007/reference/hg19/seq"
    gensz = "hs"
    REF_FASTA = "/athena/elementolab/scratch/asd2007/reference/hg19/BWAindex/genome.fa"
    species_browser = "hg19"
    TSS_ENRICH = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/hg19_gencode_tss_unique.bed.gz"
    DNASE = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/dnase_avgs_reg2map_p10_merged_named.pvals.gz"
    PROM = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_prom_p2.bed.gz"
    ENH = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_enh_p2.bed.gz"
    REG2MAP = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/dnase_avgs_reg2map_p10_merged_named.pvals.gz"
    REG2MAP_BED = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_all_p10_ucsc.bed.gz"
    ROADMAP_META = "/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/eid_to_mnemonic.txt"
    }





params.DNASE_BED="/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_all_p10_ucsc.bed.gz"
params.BLACK="/athena/elementolab/scratch/asd2007/reference/hg19/Anshul_Hg19UltraHighSignalArtifactRegions.bed"
params.PICARDCONF="/athena/elementolab/scratch/asd2007/reference/hg19/picardmetrics.conf"
params.REF="/athena/elementolab/scratch/asd2007/reference/hg19/BWAIndex/genome.fa"
params.REFbt2="/athena/elementolab/scratch/asd2007/reference/hg19/bowtie2_index/genome"
params.bwt2_idx="/athena/elementolab/scratch/asd2007/reference/hg19/male.hg19.fa"
params.RG="hg19"
params.SPEC="hs"
params.REFGen="/athena/elementolab/scratch/asd2007/reference/hg19/male.hg19.fa"
params.seq="/athena/elementolab/scratch/asd2007/reference/hg19/seq"
params.gensz="hs"
params.REF_FASTA="/athena/elementolab/scratch/asd2007/reference/hg19/male.hg19.fa"
params.species_browser='hg19'
params.TSS_ENRICH="/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/hg19_gencode_tss_unique.bed.gz"
params.DNASE='/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_all_p10_ucsc.bed.gz'
params.PROM='/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_prom_p2.bed.gz'
params.ENH='/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/reg2map_honeybadger2_dnase_enh_p2.bed.gz'
params.REG2MAP='/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/dnase_avgs_reg2map_p10_merged_named.pvals.gz'
params.REG2MAP_BED="/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/dnase_avgs_reg2map_p10_merged_named.pvals.gz"
params.ROADMAP_META="/athena/elementolab/scratch/asd2007/reference/hg19/ataqc/eid_to_mnemonic.txt"
params.ENCODEDHS='/athena/elementolab/scratch/asd2007/reference/hg19/dnase_avgs_reg2map_p10_merged_named.pvals.gz'